//Font
$fonte: 'Poppins', sans-serif;
$fonte-secundaria: 'Outfit', sans-serif;
$fonte-terciaria: 'Work Sans', sans-serif;
$tamanho-pequeno: 12px;

//Color
$cor-primaria: #9f9f9f;
$cor-secundaria: #3019b2;
$branco: #fff;
$amarelo: #f7ca11;
$azul-escuro: #271c47;
$preto-claro: #4e4e4e;
$cinza-categorias: #f4f4f4;
$roxo: #3442b5;
