.footer {
    display: flex;
    flex-direction: column;

    .newsletter-container {
        background-color: $azul-escuro;
        padding: 40px 80px;
        margin-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .newsletter-container-textos {
            width: 515px;
            height: 82px;

            .newsletter-titulo {
                font-family: $fonte-secundaria;
                font-weight: 600;
                font-size: 32px;
                color: $branco;
                margin: 0 0 8px 0;
            }

            .newsletter-texto {
                font-weight: 300;
                font-size: 14px;
                color: $branco;
                margin: 0;
            }
        }

        .newsletter-form {
            gap: 8px;

            .newsletter-container-form {
                display: flex;
                align-items: center;
                gap: 8px;
                padding-bottom: 8px;

                .newsletter-container-input {
                    height: 42px;
                    width: 233px;
                    background-color: $branco;
                    border: 1px solid transparent;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;

                    .newsletter-input {
                        background: transparent;
                        border: none;
                        padding-left: 24px;
                        color: $branco;

                        &::placeholder {
                            font-size: 14px;
                            font-weight: 500;
                            color: #676767;
                        }
                    }
                }

                .newsletter-btn {
                    width: 157px;
                    height: 42px;
                    font-family: $fonte;
                    font-size: 14px;
                    font-weight: 600;
                    color: #161615;
                    background-color: $amarelo;
                    border: 1px solid transparent;
                    border-radius: 6px;
                }
            }

            .newsletter-termos {
                color: $branco;
                font-weight: 400;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }

    .rodape {
        display: flex;
        flex-direction: row;
        background-color: #f4f4f4;

        .rodape-contatos {
            margin: 61px 1px 61px 80px;
            height: 198px;
            padding-right: 90px;
            border-right: 1px solid #cfcfcf;

            .rodape-contato-logo {
                width: 164px;
                height: 48px;
                padding-top: 19px;
            }

            .rodape-contato-texto {
                width: 354px;
                height: 42px;
                font-weight: 300;
                font-size: 14px;
                color: #3f3f40;
                padding: 18px 0 27px 0;
                margin: 0;
            }

            .rodape-contato-icone {
                display: flex;
                gap: 26px;
                padding-bottom: 19px;
            }
        }

        .rodape-info {
            height: 198px;
            margin: 42px 195px 42px 90px;
            padding: 41px 0 41px 0;
            display: flex;
            gap: 100px;

            .rodape-info-item {
                gap: 16px;

                .rodape-info-titulo {
                    font-weight: 700;
                    font-size: 16px;
                    color: #5f5f5f;
                }

                .rodape-info-texto {
                    font-family: $fonte-terciaria;
                    font-weight: 400;
                    font-size: 14px;
                    color: #5f5f5f;
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding: 13px 0 13px 0;
        .copyright-text {
            font-weight: 300;
            font-size: 13px;
            color: #3f3f40;
            margin: 0;
        }
    }
}