nav {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    .cabecalho-info-compra {
        display: flex;
        justify-content: space-between;
        padding: 6px 258px;
        .cabecalho-info-compra-item {
            display: flex;
            gap: 10px;
            .cabecalho-texto {
                color: $cor-primaria;
                font-weight: 500;
                font-size: $tamanho-pequeno;
                .cabecalho-texto-destaque {
                    color: $cor-secundaria;
                    font-weight: 600;
                }
            }
        }
    }
    .cabecalho-busca {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        .container-pesquisa {
            flex-grow: 1;
            max-width: 600px;
            position: relative;
            background-color: #f6f5f2;
            border: 1px solid transparent;
            border-radius: 10px;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            width: 100%;
            height: 48px;
            &:focus-within {
                border-color: $cor-secundaria;
                background-color: #fff;
                box-shadow: 0 0 8px rgba(48, 25, 178, 0.25);
            }
            .cabecalho-pesquisa {
            background: transparent;
            border: none;
            padding: 0 45px 0 15px;
            width: 100%;
            height: 100%;
            outline: none;
            &::placeholder {
                font-size: 14px;
                font-weight: 500;
                color: $cor-primaria;
                }
            }
            .icone-lupa {
                position: absolute;
                right: 15px;
                width: 20px;
                height: 20px;
                pointer-events: none;
            }
        }
        .cabecalho-icones {
        display: flex;
        gap: 20px;
        align-items: center;
        a {
            display: flex;
            transition: transform 0.2 ease;
            &:hover {
                transform: translateY(-3px);
            }
        }
        }
    }
    .cabecalho-categorias {
        position: relative;
        z-index: 10;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        list-style: none;
        border: 1px solid transparent;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        a {
            text-decoration: none;
            display: flex;
            gap: 10px;
        }
        .cabecalho-categoria-item {
            color: $cor-primaria;
            font-weight: 600;
            font-size: $tamanho-pequeno;
            &:hover {
                color: $cor-secundaria;
            }
        }
    }
}
.banner {
    background: url("../../img/loja-black-friday.png") no-repeat;
    width: 100%;
    height: 100%;
    h2 {
        margin: 0;
    }
}