.marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .marcas-titulo {
        font-weight: 700;
        font-size: 30px;
        color: $roxo;
        margin: 0;
    }
    .marcas-container {
        display: flex;
        justify-content: space-between;
        gap: 42px;
        margin: 32px 115px 90px 101.5px;
        .marcas-item {
            width: 211px;
            height: 211px;
            border: 1px solid transparent;
            border-radius: 105.5px;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.13);
            display: flex;
            justify-content: center;
            align-items: center;
            .marcas-img {
                width: 117px;
                height: 34.76px;
            }
            
        }
    }
}