html, body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}
nav .cabecalho-info-compra {
  display: flex;
  justify-content: space-between;
  padding: 6px 258px;
}
nav .cabecalho-info-compra .cabecalho-info-compra-item {
  display: flex;
  gap: 10px;
}
nav .cabecalho-info-compra .cabecalho-info-compra-item .cabecalho-texto {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 12px;
}
nav .cabecalho-info-compra .cabecalho-info-compra-item .cabecalho-texto .cabecalho-texto-destaque {
  color: #3019b2;
  font-weight: 600;
}
nav .cabecalho-busca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
nav .cabecalho-busca .container-pesquisa {
  flex-grow: 1;
  max-width: 600px;
  position: relative;
  background-color: #f6f5f2;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}
nav .cabecalho-busca .container-pesquisa:focus-within {
  border-color: #3019b2;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(48, 25, 178, 0.25);
}
nav .cabecalho-busca .container-pesquisa .cabecalho-pesquisa {
  background: transparent;
  border: none;
  padding: 0 45px 0 15px;
  width: 100%;
  height: 100%;
  outline: none;
}
nav .cabecalho-busca .container-pesquisa .cabecalho-pesquisa::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}
nav .cabecalho-busca .container-pesquisa .cabecalho-pesquisa::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}
nav .cabecalho-busca .container-pesquisa .icone-lupa {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
nav .cabecalho-busca .cabecalho-icones {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .cabecalho-busca .cabecalho-icones a {
  display: flex;
  transition: transform 0.2 ease;
}
nav .cabecalho-busca .cabecalho-icones a:hover {
  transform: translateY(-3px);
}
nav .cabecalho-categorias {
  position: relative;
  z-index: 10;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  list-style: none;
  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
nav .cabecalho-categorias a {
  text-decoration: none;
  display: flex;
  gap: 10px;
}
nav .cabecalho-categorias .cabecalho-categoria-item {
  color: #9f9f9f;
  font-weight: 600;
  font-size: 12px;
}
nav .cabecalho-categorias .cabecalho-categoria-item:hover {
  color: #3019b2;
}

.banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 30%, transparent 70%), url("../../img/loja-black-friday.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 0px 81px;
}
.banner .banner-titulo {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  max-width: 600px;
}
.banner .banner-subtitulo {
  margin: 0 0 41px 0;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}
.banner .banner-subtitulo-destaque {
  font-weight: 700;
  color: #f7ca11;
}
.banner .banner-btn {
  padding: 13px 54px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #271c47;
  background-color: #f7ca11;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 55px;
  cursor: pointer;
}

.categorias {
  margin: 39px 140px 90px 140px;
  display: flex;
  justify-content: space-between;
}
.categorias .categoria-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.categorias .categoria-container-item .categoria-container-img {
  width: 120px;
  height: 120px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.categorias .categoria-container-item .categoria-texto {
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e;
  margin-top: 22px;
}

.vitrine {
  margin: 0 37px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vitrine .vitrine-titulo {
  font-weight: 700;
  font-size: 30px;
  color: #3442b5;
  margin: 0;
}
.vitrine .vitrine-texto {
  font-weight: 700;
  font-size: 15px;
  color: #3f3f40;
}
.vitrine .vitrine-categorias {
  padding: 0 42px 0 42px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.vitrine .vitrine-categorias .vitrine-container-categoria-item {
  width: 200px;
  height: 40px;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vitrine .vitrine-categorias .vitrine-container-categoria-item .vitrine-categoria-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
}
.vitrine .vitrine-categorias .vitrine-container-categoria-item .vitrine-categoria-item:hover {
  color: #3442b5;
  font-weight: 700;
}
.vitrine .mySwiper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}
.vitrine .mySwiper .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  width: auto;
}
.vitrine .mySwiper .swiper-wrapper .swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item {
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.13);
  padding: 16px 12px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-titulo-item {
  font-weight: 300;
  font-size: 15px;
  color: #3f3f40;
  margin: 0 0 12px 0;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-preco-antigo {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  margin: 0 0 2px 0;
  text-decoration: line-through;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-preco-novo {
  font-weight: 700;
  font-size: 20px;
  color: #3f3f40;
  margin: 0 0 2px 0;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-preco-parcelado {
  font-weight: 400;
  font-size: 12px;
  color: #3f3f40;
  margin: 0 0 7px 0;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-frete {
  font-weight: 400;
  font-size: 12px;
  color: #3442b5;
  margin: 0 0 7px 0;
}
.vitrine .mySwiper .swiper-wrapper .vitrine-container-item .vitrine-btn {
  padding: 14px 0;
  background-color: #3442b5;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
.vitrine .mySwiper .swiper-button-next,
.vitrine .mySwiper .swiper-button-prev {
  background-image: url("../../img/seta.png") !important;
  background-color: transparent !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  z-index: 99;
  position: absolute;
  top: 50%;
}
.vitrine .mySwiper .swiper-button-next::after,
.vitrine .mySwiper .swiper-button-prev::after {
  display: none !important;
}
.vitrine .mySwiper .swiper-button-prev {
  left: 10px;
  transform: translateY(-50%);
}
.vitrine .mySwiper .swiper-button-next {
  right: 10px;
  transform: translateY(-50%) scaleX(-1);
}

.parceiros {
  display: flex;
  gap: 13px;
  margin: 90px 80px;
}
.parceiros .parceiros-container {
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 55%), url("../../img/loja.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 20px;
  max-width: 634px;
  max-height: 350px;
  padding: 114px 373px 40px 44px;
}
.parceiros .parceiros-container .parceiros-titulo {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0 0 8px 0;
}
.parceiros .parceiros-container .parceiros-texto {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0 0 32px 0;
}
.parceiros .parceiros-container .parceiros-btn {
  padding: 12px 26px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #271c47;
  background-color: #f7ca11;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marcas .marcas-titulo {
  font-weight: 700;
  font-size: 30px;
  color: #3442b5;
  margin: 0;
}
.marcas .marcas-container {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  margin: 32px 115px 90px 101.5px;
}
.marcas .marcas-container .marcas-item {
  width: 211px;
  height: 211px;
  border: 1px solid transparent;
  border-radius: 105.5px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
}
.marcas .marcas-container .marcas-item .marcas-img {
  width: 117px;
  height: 34.76px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .newsletter-container {
  background-color: #271c47;
  padding: 40px 80px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .newsletter-container .newsletter-container-textos {
  width: 515px;
  height: 82px;
}
.footer .newsletter-container .newsletter-container-textos .newsletter-titulo {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  margin: 0 0 8px 0;
}
.footer .newsletter-container .newsletter-container-textos .newsletter-texto {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.footer .newsletter-container .newsletter-form {
  gap: 8px;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form .newsletter-container-input {
  height: 42px;
  width: 233px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form .newsletter-container-input .newsletter-input {
  background: transparent;
  border: none;
  padding-left: 24px;
  color: #fff;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form .newsletter-container-input .newsletter-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form .newsletter-container-input .newsletter-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
}
.footer .newsletter-container .newsletter-form .newsletter-container-form .newsletter-btn {
  width: 157px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #161615;
  background-color: #f7ca11;
  border: 1px solid transparent;
  border-radius: 6px;
}
.footer .newsletter-container .newsletter-form .newsletter-termos {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.footer .rodape {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
}
.footer .rodape .rodape-contatos {
  margin: 61px 1px 61px 80px;
  height: 198px;
  padding-right: 90px;
  border-right: 1px solid #cfcfcf;
}
.footer .rodape .rodape-contatos .rodape-contato-logo {
  width: 164px;
  height: 48px;
  padding-top: 19px;
}
.footer .rodape .rodape-contatos .rodape-contato-texto {
  width: 354px;
  height: 42px;
  font-weight: 300;
  font-size: 14px;
  color: #3f3f40;
  padding: 18px 0 27px 0;
  margin: 0;
}
.footer .rodape .rodape-contatos .rodape-contato-icone {
  display: flex;
  gap: 26px;
  padding-bottom: 19px;
}
.footer .rodape .rodape-info {
  height: 198px;
  margin: 42px 195px 42px 90px;
  padding: 41px 0 41px 0;
  display: flex;
  gap: 100px;
}
.footer .rodape .rodape-info .rodape-info-item {
  gap: 16px;
}
.footer .rodape .rodape-info .rodape-info-item .rodape-info-titulo {
  font-weight: 700;
  font-size: 16px;
  color: #5f5f5f;
}
.footer .rodape .rodape-info .rodape-info-item .rodape-info-texto {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5f5f5f;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  padding: 13px 0 13px 0;
}
.footer .copyright .copyright-text {
  font-weight: 300;
  font-size: 13px;
  color: #3f3f40;
  margin: 0;
}/*# sourceMappingURL=index.css.map */